<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Менеджмент заказов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <link th:href="@{/css/order-control.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/order-control.js}" > </script>

    <style>
        .main-toolbar{
            text-align: center;
        }

        .order-block{
            border-bottom: 2px solid black;
        }

    </style>
</head>
<body>

<div class = "container main-toolbar">
    <div class = "row">
        <div class = "col-sm">
            <a href = "/">Главная</a>
        </div>
        <div class = "col-sm" th:if="${authentication} != anonymousUser">
            <a href = "/add-order">Оформить заказ</a>
        </div>
        <div class = "col-sm" th:if="${authentication} != anonymousUser">
            <a href = "/show-orders">Просмотреть активные заказы</a>
        </div>
        <div class = "col-sm" th:if="${authentication} != anonymousUser" sec:authorize="hasRole('MANAGER')">
            <a href = "/management/order-control">Менеджмент заказов</a>
        </div>
        <div class = "col-sm" th:if="${authentication} != anonymousUser">
            <a href = "/logout">Выйти</a>
        </div>
        <div class = "col-sm" th:if="${authentication} == anonymousUser">
            <a href = "/login">Авторизоваться</a>
        </div>
        <div class = "col-sm " th:if="${authentication} == anonymousUser">
            <a href = "/registration">Зарегистрироваться</a>
        </div>
    </div>
    <div class = "row">
        <div class = "col-sm site-name">
            <h1>Прачечная Laundry</h1>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "row">
        <h1>Имеющиеся заказы</h1>
    </div>
    <div class = "container row">
        <div class="tab col-sm-4">
            <div class = "row">
                <button class="tablinks" onclick="openTab(event, 'AwaitToAccept')" id="defaultOpen">Поступившие заказы</button>
            </div>
            <div class = "row">
                <button class="tablinks" onclick="openTab(event, 'AcceptedReadyToTake')">Принятые заказы. Ожидание клиента</button>
            </div>
            <div class = "row">
                <button class="tablinks" onclick="openTab(event, 'Taken')">Вещи в ожидании чистки</button>
            </div>
            <div class = "row">
                <button class="tablinks" onclick="openTab(event, 'Processing')">Вещи в процессе чистки</button>
            </div>
            <div class = "row">
                <button class="tablinks" onclick="openTab(event, 'ReadyToReturn')">Готовые вещи</button>
            </div>
            <div class = "row">
                <button class="tablinks" onclick="openTab(event, 'Returned')">Закрытые заказы</button>
            </div>
        </div>

        <div id="AwaitToAccept" class="tabcontent col-sm-8">
            <h3>Поступившие заказы</h3>
            <div class = "order-block" th:each = "order: ${ordersState0}">
                <div class = "row">
                    <div class = "col-sm">
                        <label> Вещи, для чистки: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.clothesForWork}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Состояние заказа: </label>
                    </div>
                    <div class = "col-sm">
                        <label> Ожидание подтверждения заказа </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getName()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getSurname()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Номер клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getPhoneNumber()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Адрес электронной почты клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getUsername()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Дата создания заказ: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.dateCreated}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <form action="#" th:action="@{/management/order-control}" th:object="${orderId}" method="post">
                            <input type=text th:name="id" th:value = "${order.getId()}" readonly style = "display: none;">
                            <input type=submit value = "Перенести на другой этап">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="AcceptedReadyToTake" class="tabcontent col-sm-8">
            <h3>Принятые заказы. Ожидание клиента</h3>
            <div class = "order-block" th:each = "order: ${ordersState1}">
                <div class = "row">
                    <div class = "col-sm">
                        <label> Вещи, для чистки: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.clothesForWork}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Состояние заказа: </label>
                    </div>
                    <div class = "col-sm">
                        <label> Мы готовы принять заказ </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getName()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getSurname()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Номер клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getPhoneNumber()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Адрес электронной почты клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getUsername()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Дата создания заказ: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.dateCreated}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <form action="#" th:action="@{/management/order-control}" th:object="${orderId}" method="post">
                            <input type=text th:name="id" th:value = "${order.getId()}" readonly style = "display: none;">
                            <input type=submit value = "Перенести на другой этап">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="Taken" class="tabcontent col-sm-8">
            <h3>Вещи в ожидании чистки</h3>
            <div class = "order-block" th:each = "order: ${ordersState2}">
                <div class = "row">
                    <div class = "col-sm">
                        <label> Вещи, для чистки: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.clothesForWork}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Состояние заказа: </label>
                    </div>
                    <div class = "col-sm">
                        <label> Вещи в ожидании чистки </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getName()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getSurname()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Номер клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getPhoneNumber()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Адрес электронной почты клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getUsername()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Дата создания заказ: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.dateCreated}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <form action="#" th:action="@{/management/order-control}" th:object="${orderId}" method="post">
                            <input type=text th:name="id" th:value = "${order.getId()}" readonly style = "display: none;">
                            <input type=submit value = "Перенести на другой этап">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="Processing" class="tabcontent col-sm-8">
            <h3>Вещи в процессе чистки</h3>
            <div class = "order-block" th:each = "order: ${ordersState3}">
                <div class = "row">
                    <div class = "col-sm">
                        <label> Вещи, для чистки: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.clothesForWork}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Состояние заказа: </label>
                    </div>
                    <div class = "col-sm">
                        <label> Вещи в процессе чистки </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getName()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getSurname()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Номер клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getPhoneNumber()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Адрес электронной почты клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getUsername()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Дата создания заказ: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.dateCreated}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <form action="#" th:action="@{/management/order-control}" th:object="${orderId}" method="post">
                            <input type=text th:name="id" th:value = "${order.getId()}" readonly style = "display: none;">
                            <input type=submit value = "Перенести на другой этап">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="ReadyToReturn" class="tabcontent col-sm-8">
            <h3>Вещи в процессе чистки</h3>
            <div class = "order-block" th:each = "order: ${ordersState4}">
                <div class = "row">
                    <div class = "col-sm">
                        <label> Вещи, для чистки: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.clothesForWork}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Состояние заказа: </label>
                    </div>
                    <div class = "col-sm">
                        <label> Вещи готовы к возврату </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getName()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getSurname()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Номер клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getPhoneNumber()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Адрес электронной почты клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getUsername()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Дата создания заказ: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.dateCreated}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <form action="#" th:action="@{/management/order-control}" th:object="${orderId}" method="post">
                            <input type=text th:name="id" th:value = "${order.getId()}" readonly style = "display: none;">
                            <input type=submit value = "Перенести на другой этап">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="Returned" class="tabcontent col-sm-8">
            <h3>Закрытые заказы</h3>
            <div class = "order-block" th:each = "order: ${ordersState5}">
                <div class = "row">
                    <div class = "col-sm">
                        <label> Вещи, для чистки: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.clothesForWork}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Состояние заказа: </label>
                    </div>
                    <div class = "col-sm">
                        <label> Заказ закрыт </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getName()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Имя клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getSurname()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Номер клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getPhoneNumber()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Адрес электронной почты клиента: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.getUsers().getUsername()}"> </label>
                    </div>
                </div>
                <div class = "row">
                    <div class = "col-sm">
                        <label> Дата создания заказ: </label>
                    </div>
                    <div class = "col-sm">
                        <label th:text="${order.dateCreated}"> </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>