<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Список заказов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <style>
        .main-toolbar{
            text-align: center;
        }

        .order-block{
            border-bottom: 2px solid black;
        }
    </style>
</head>
<body>

<div class = "container main-toolbar">
    <div class = "row">
        <div class = "col-sm">
            <a href = "/">Главная</a>
        </div>
        <div class = "col-sm" th:if="${authentication} != anonymousUser">
            <a href = "/add-order">Оформить заказ</a>
        </div>
        <div class = "col-sm" th:if="${authentication} != anonymousUser">
            <a href = "/show-orders">Просмотреть активные заказы</a>
        </div>
        <div class = "col-sm" th:if="${authentication} != anonymousUser" sec:authorize="hasRole('MANAGER')">
            <a href = "/management/order-control">Менеджмент заказов</a>
        </div>
        <div class = "col-sm" th:if="${authentication} != anonymousUser">
            <a href = "/logout">Выйти</a>
        </div>
        <div class = "col-sm" th:if="${authentication} == anonymousUser">
            <a href = "/login">Авторизоваться</a>
        </div>
        <div class = "col-sm " th:if="${authentication} == anonymousUser">
            <a href = "/registration">Зарегистрироваться</a>
        </div>
    </div>
    <div class = "row">
        <div class = "col-sm site-name">
            <h1>Прачечная Laundry</h1>
        </div>
    </div>
</div>

<div class = "container">
    <div class = "row">
        <h1>Список ваших заказов</h1>
    </div>
    <div class = "container">
        <div class = "order-block" th:each = "order: ${orderList}">
            <div class = "row">
                <div class = "col-sm">
                    <label> Вещи, для чистки: </label>
                </div>
                <div class = "col-sm">
                    <label th:text="${order.clothesForWork}"> </label>
                </div>
            </div>
            <div class = "row">
                <div class = "col-sm">
                    <label> Состояние заказа: </label>
                </div>
                <div class = "col-sm">
                    <label th:if="${order.state.ordinal()} == 0"> Ожидание подтверждения заказа </label>
                    <label th:if="${order.state.ordinal()} == 1"> Мы готовы принять заказ </label>
                    <label th:if="${order.state.ordinal()} == 2"> Вещи в ожидании чистки </label>
                    <label th:if="${order.state.ordinal()} == 3"> Вещи в процессе чистки </label>
                    <label th:if="${order.state.ordinal()} == 4"> Ваши вещи готовы. Можно забирать! </label>
                    <label th:if="${order.state.ordinal()} == 5"> Вещи забраны. Заказ закрыт. </label>
                </div>
            </div>
            <div class = "row">
                <div class = "col-sm">
                    <label> Дата создания заказ: </label>
                </div>
                <div class = "col-sm">
                    <label th:text="${order.dateCreated}"> </label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>